/*
Author: Matthew Sleight
Date: December 8, 2024
File Name: breakout.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #84A7BA;
}

/* h1 Style */
h1 {
    background-color: #00008B;
    border-radius: 10px;
    color: #84A7BA;
    width: 350px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

/* Start Container Style */
#startContainer {
    text-align: center;
    margin-top: 10%; 
    position: relative;
}

 #myCanvas {
    border-style: solid;
    border-width: 10px;
    background-color: #CFCFCF;
} 

canvas {
    border-style: solid;
}

#runButton {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 139, 0.7); /* Transparent blue background */
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

#runButton:hover {
    background-color: rgba(0, 0, 139, 1) /* Solid blue background on hover */
}

#resetButton {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 139, 0.7); /* Transparent blue background */
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

#resetButton:hover {
    background-color: rgba(0, 0, 139, 1); /* Solid blue background on hover */
}